<html>
<head>
    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="js/backbone-min.js"></script>
    <script type="text/javascript" src="js/joystick_view.js"></script>
</head>
<body>

<script type="text/html" id="joystick-view">
    <canvas id="joystickCanvas" width="<%= squareSize %>" height="<%= squareSize %>"
            style="width: <%= squareSize %>px; height: <%= squareSize %>px;">
    </canvas>
</script>

<div id="joystickContent">
</div>
<div>
    x: <span id="xVal"></span><br/>
    y: <span id="yVal"></span><br/>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var conn = new WebSocket("ws://localhost:8080");
        conn.onopen = function (evt) {
            console.log("connection opened");

            function createPlayerID() {
                function s4() {
                    return Math.floor((1 + Math.random()) * 0x10000)
                            .toString(16)
                            .substring(1);
                }

                return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
            }

            var playerID = createPlayerID();

            conn.send(JSON.stringify({"type": "join", "data": playerID}));

            conn.onclose = function (evt) {
                console.log("connection closed");
                conn.send(JSON.stringify({"type": "leave", "data": playerID}));
            };
            conn.onmessage = function (evt) {
                console.log(evt);
                var msg = JSON.parse(evt.data);

                var data = msg.data;

                switch (msg.type) {
                    case "frame" :
                        break;
                }
            };

            var joystickView = new JoystickView(500, function (callbackView) {
                $("#joystickContent").append(callbackView.render().el);
                setTimeout(function () {
                    callbackView.renderSprite();
                }, 0);
            });

            var x = 0;
            var y = 0;

            joystickView.bind("verticalMove", function (evt) {
                $("#yVal").html(evt);
                x = evt;
            });
            joystickView.bind("horizontalMove", function (evt) {
                $("#xVal").html(evt);
                y = evt;
            });

            setInterval(function () {
                conn.send(JSON.stringify({"type": "move", "data": {"player": playerID, "x": x, "y": y}}));
            }, 10);
        };
    });
</script>
</body>
</html>
